header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.headerTitle {
    font-family: "Press Start 2P", sans-serif;
    color: #FFF;
    text-shadow: 5px 5px 0 #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif ;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    align-items: center;
}

a::before {
    content: "";
    background-color:#7f8c8d;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #7f8c8d;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.08);
}

